<div class="ax-hero-banner">
	<div class="wrapper">
		<h2>{{content.field_banner_header}}</h2>
		<p>{{content.field_banner_line_1}}</p>
		<p>{{content.field_banner_line_2}}</p>
		<button class="btn btn-default">Discover How</button>
	</div>
</div>