<div class="ax-row-stories">
	{{content}}
</div>
<div class="stories-footer">
	<h1>We don't compete with you, we collaborate.</h1>
	<div class="stories-footer-back">
		<img src="../themes/custom/drupalplay/images/collab.png" alt="Collaborate">
	</div>
</div>
