<div class="layout-container">

  <header role="banner" class="ax-header">
      {{ page.header }}      
  </header>

  <main role="main">
    
    <div class="layout-content">
      {{ page.content }}
    </div>
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>